{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "useJSXTextNode": true,
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "tsx": true
    },
    "lib": ["dom", "dom.iterable", "esnext"],
    "allowJs": true,
    "skipLibCheck": true,
    "esModuleInterop": true,
    "allowSyntheticDefaultImports": true,
    "strict": true,
    "forceConsistentCasingInFileNames": true,
    "module": "esnext",
    "moduleResolution": "node",
    "resolveJsonModule": true,
    "isolatedModules": true,
    "noEmit": true,
    "jsx": "react",
    "baseUrl": "src",
    "noImplicitAny": true,
    "removeComments": true,
    "preserveConstEnums": true,
    "sourceMap": true,
    "rootDirs": ["src", "stories"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": [
    "react-hooks",
    "@typescript-eslint",
    "prettier",
    "jest",
    "cypress"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-explicit-any":"off",
    "react/prop-types": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "@typescript-eslint/ban-ts-comment": "off",

    "jest/expect-expect": "off",
    "jest/valid-expect": "off",
    "jest/no-export": "off",

    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "cypress/no-force": "off",
    "cypress/no-async-tests": "error",
    "cypress/no-pause": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "jest/globals": true,
    "cypress/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": "[['@', path.resolve(__dirname, 'src')]]"
      }
    }
  }
}
